<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Allwitz</title>
    <link rel="stylesheet" href="radio/kalypto.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="radio/kalypto.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <script>
        var strings;
        $.ajax({
            type: 'GET',
            url: 'strings',
            dataType: 'json',
            success: function (result) {
                strings = result;
            },
            data: {},
            async: false
        });
    </script>
    <script src="js/templates.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/widgets/inlinetime.js"></script>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <style>

    </style>
    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/class.css" rel="stylesheet">
    <link href="css/classmob.css" rel="stylesheet">
    <link href="css/classl.css" rel="stylesheet">
    <link href="css/classm.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible!important;" id="page-top" class="index">

<!-- Navigation -->

<nav style="z-index: 500" id="mainNav"
     class="navbar navbar-default navbar-custom navbar-fixed-top">

    <div style="width: 100%;" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button style=";z-index: 100000;" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll brand navlabel"
               style="padding-top: 5px; ;  padding:0; font-size: 40px;font-family: brixnorm!important; color: white"
               href='/'>Allwitz</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul th:if="${!isTeacher}" class="nav navbar-nav navbar-left">
                <li id="becometeacherbtn">
                    <a class="page-scroll navlabel"
                       style="color: white;font-family: brixnorm!important;"
                       th:text="${strings.main_become_a_teacher}" href="#"></a>
                </li>
            </ul>
            <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-right">
                <li id="logisignbtn">
                    <a class="page-scroll navlabel"
                       style="color:white;padding-right: 0px;font-family: brixnorm!important;"
                       th:text="${strings.main_login_signup}" href="#"></a>
                </li>
                <li class="dropdown" id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu">
                        <li value="1" class="langbtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/us.png"><span
                                style="padding-left: 10px">English</span></a></li>
                        <li value="2" class="langbtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/ge.png"><span
                                style="padding-left: 10px">Georgian</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul th:if="${loggedIn}" class="nav navbar-nav navbar-right">
                <li class="dropdown" id="userBtn">

                    <a href="#" class="dropdown-toggle navlabel" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">-->
                        <span class="navlabel profName"
                              th:text="${userNameSurname}"
                              style="font-family: brixnorm!important;"></span></span></a>
                    <ul class="dropdown-menu">
                        <li class="profileBtn"><a href="#" th:text="${strings.main_menu_profile}"></a></li>
                        <li class="settingsBtn"><a href="#" th:text="${strings.main_menu_settings}"></a></li>

                        <li><a class="logoutBtn" href="#" th:text="${strings.main_menu_log_out}"></a></li>
                    </ul>
                </li>
                <li class="dropdown" id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu">
                        <li value="1" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                     src="png/us.png"><span
                                style="padding-left: 10px">English</span></a></li>
                        <li value="2" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                     src="png/ge.png"><span
                                style="padding-left: 10px">Georgian</span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header class="classHeader">
    <div class="container-fluid headerDivTeacher">
        <div class="row">
            <div class="col-md-12">
                <div class="row classPageContainer">
                    <div class="col-md-5 rightContainer">
                        <div class="row">
                            <div class="col-md-5 profilePicContainerClass">
                                <img alt="Bootstrap Image Preview" th:src="${teacherPic}"
                                     class="img-circle profileImageClass"/>
                            </div>
                            <div class="col-md-7 namecityrowclass">
                                <div class="row teacherNameRowClass">
                                    <div th:text="${teacherName}" class="col-md-12  nameLabelClass">

                                    </div>
                                </div>
                                <div class="row">
                                    <div th:text="${city}" class="col-md-12 cityLabelClass">
                                    </div>
                                </div>
                                <div class="row">
                                    <div th:text="${className}" class="col-md-12 classLabelClass">
                                        Interior Designer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 headerStarsTopDiv">
                                <div class="row">
                                    <div class="starRatingDivClass">
                                        <span class="starRatingClass">
                                            <img class="staricon" th:each="i : ${#numbers.sequence( 1, scoreMain)}"
                                                 src="png/search/v.png">
                                        </span><a style="color: white!important;" href="#rews">
                                        <span class="reviewsLabelClass" th:text="${scoreCount}">

                                        </span></a>
                                        <span class="viewsLabelClass">
                                            <img src="png/class/tvali.png"><span th:text="${views}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p class="classAbout">
                            About
                        </p>
                        <p th:text="${classAbout}" class="classAboutText">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<section class="classBodySection">
    <div class="container-fluid classBodyContainer">
        <div class="row">
            <div class="col-md-12 classBodyCol">
                <div class="row">
                    <div class="col-md-9 bodyPlace">
                        <div class="row">
                            <div class="col-md-12 noLeftPadding">
                                <ul class="nav nav-pills classNav">
                                    <li class="noLeftPadding" role="presentation"><a class="noLeftPadding" href="#">Location</a>
                                    </li>
                                    <li role="presentation"><a href="#rews">Reviews</a></li>
                                    <li role="presentation"><a href="#map">Map</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 infoCol noLeftPadding noRightPadding">
                                <div class="row infoRow">
                                    <div class="col-xs-4 infoLogoName noLeftPadding">

                                        <span class="infoTitle">
                                            Academic Credentials
                                        </span>
                                        <img style="" alt="Bootstrap Image Preview"
                                             src="png/class/1.png"/>
                                    </div>
                                    <div class="col-xs-8 infoContent noLeftPadding noRightPadding">
                                        <ul th:utext="${academicString}" class="infoP">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row infoRow">
                                    <div class="col-xs-4 infoLogoName noLeftPadding">

                                        <span class="infoTitle">
                                            Current Employment
                                        </span>
                                        <img class="emplLogo" style="" alt="Bootstrap Image Preview"
                                             src="png/class/2.png"/>
                                    </div>
                                    <div class="col-xs-8 infoContent  noLeftPadding noRightPadding">
                                        <ul th:utext="${employmentString}" class="infoP">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row infoRow">
                                    <div class="col-xs-4 infoLogoName noLeftPadding">

                                        <span class="infoTitle">
                                            Achievements
                                        </span>
                                        <img class="sucLogo" style="" alt="Bootstrap Image Preview"
                                             src="png/class/3.png"/>
                                    </div>
                                    <div class="col-xs-8 infoContent  noLeftPadding noRightPadding">
                                        <ul th:utext="${succeedString}" class="infoP">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row infoRow">
                                    <div class="col-xs-4 infoLogoName noLeftPadding">

                                        <span class="infoTitle">
                                            Skills
                                        </span>
                                        <img style="width: 50px" alt="Bootstrap Image Preview"
                                             src="png/class/4.png"/>
                                    </div>
                                    <div class="col-xs-8 infoContent noLeftPadding noRightPadding">
                                        <ul th:utext="${skillsString}" class="infoP">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row infoRow">
                                    <div class="col-xs-4 infoLogoName noLeftPadding">

                                        <span class="infoTitle">
                                            Attachment
                                        </span>
                                        <img style="" alt="Bootstrap Image Preview"
                                             src="png/class/5.png"/>
                                    </div>
                                    <div class="col-xs-8 infoContent lastInfoContent noLeftPadding noRightPadding">
                                        <ul th:utext="${attachmentsString}" class="infoP">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mapCol noLeftPadding noRightPadding">
                                <span class="mapTitle">
                                    Map
                                </span>
                                <div id="map" class="mapDivClass">
                                    <div id="mapDiv"
                                         style="height: 100%;width: 100%"
                                         ></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 reviewsCol noLeftPadding noRightPadding">
                                <div class="row">
                                    <table class="ratingStarsTable">
                                        <tbody>
                                        <tr>
                                            <td class="ratingLeftTd">
                                                <span th:text="${scoreCount}" class="ratingsTitle">
                                                </span>
                                            </td>
                                            <td class="ratingRightTd">
                                            <span class="starRatingClass">
                                            <img class="staricon" th:each="i : ${#numbers.sequence( 1, scoreMain)}"
                                                 src="png/search/v.png">
                                            </span>
                                            </td>
                                            <td th:if="${canReview}">
                                                <button class="btn bookButton addreview">
                                                    add review
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row  noLeftPadding noRightPadding">
                            <div class="col-md-12 reviewsColDetailed noLeftPadding noRightPadding">


                            </div>
                        </div>
                        <div id="rews" style="display: block" class="row noLeftPadding noRightPadding">
                            <div class="col-md-12 reviewsColList noLeftPadding noRightPadding">
                                <div th:each="review: ${reviews}" class="reviewItemDiv borderBotom noPaddingTop">
                                    <div class="reviewItemDivHead">

                                        <table>
                                            <tbody>
                                            <tr class="reviewrNameImageRow">
                                                <td>
                                                    <img alt="Bootstrap Image Preview"
                                                         class="img-circle reviewrImage"
                                                         th:src="${review.user.profilepicurl}"/>
                                                </td>
                                                <td class="reviewerNameTd" style=" ">
                                                    <span th:text="${review.user.name}" class="reviewerNameSpan">

                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="reviewItemDivBody">
                                        <p th:text="${review.comment}" style="color: black">

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="reviewsMoreButtonDiv">
                                <a class="reviewsMoreButton">
                                    + More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 noRightPadding noLeftPadding calendarPlace">
                        <div class="row">
                            <div class="col-md-12 noRightPadding noLeftPadding">
                                <div class="calendarTopDiv">
                                    <div class="calendarHeader">
                                        <h2>
                                            <span th:text="${#numbers.formatDecimal(price, 0, 0)}"></span> <span
                                                style="font-weight: 100">₾</span>/ class
                                        </h2>
                                    </div>
                                    <div class="calendarBody">
                                        <div id="calendar"></div>
                                    </div>
                                    <div class="calendarBodyTimes hide">
                                        <div class="header">
                                            <div class="goback"></div>
                                            <h1 id="dayname"></h1>
                                        </div>
                                        <div class="calendarBodyTimesDiv">
                                            <table style="height: 100%;width: 100%">
                                                <tbody class="timesPlaceTableBody" style="height: 100%;
                                                width: 100%;
                                                display: table-header-classType">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="calendarBodyTimes2 hide">
                                        <div class="header2">
                                            <h2>
                                                Selected Classes
                                            </h2>
                                        </div>
                                        <div class="calendarBodyTimesDiv">
                                            <table style="height: 100%;width: 100%">
                                                <tbody class="timesChosenPlaceTableBody" style="height: 100%;
                                                width: 100%;
                                                display: table-header-classType">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="clasTypeButtonPlace">
                                            <span class="classTypeText">Class Type</span>
                                            <div class="classTypeDiv">
                                                <div>
                                                <span class="classTypeLabel">
                                                Individual
                                            </span>
                                                    <input class="classTypeInput radio" checked="true" name="classType"
                                                           value="1" type="radio">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="clasTypeButtonPlace">
                                            <div class="classTypeDiv">
                                                <div>
                                                <span class="classTypeLabel">
                                                Group
                                            </span>
                                                    <input class="classTypeInput radio" name="classType" value="2"
                                                           type="radio">
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                    <div class="bookButtonPlace">
                                        <button class="btn bookButton">Book</button>
                                        <span class="warningWontBeCharged">You won’t be charged yet</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footerLarge" style="padding-left: 4%;padding-right: 4%">
    <div style="margin-right: auto;
    margin-left: auto;">
        <div class="row">
            <div class="col-md-5">
                <ul style="font-size: 18px;color:black;font-family:brix!important;margin-bottom: 0px;    padding-top: 2px;"
                    class="list-inline footerLeft">
                    <li>
                        <a style="color: black">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a style="color: black">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a style="color: black">
                            Press
                        </a>
                    </li>
                    <li>
                        <a style="color: black">

                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-inline socialFoot">

                    <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                    </a></li>
                    <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                    </a></li>

                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-inline quicklinks footerRight">
                    <li><a href="#" style="font-family: font1"><i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li><a href="#" style="font-family: font1"><i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>

        <div style="padding-top: 10px" class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</footer>
<footer class="footerMin" style="padding-left: 4%;padding-right: 4%">
    <div style="margin-right: auto;
    margin-left: auto;">


        <div style="padding-top: 10px" class="row">

            <div class="col-xs-4">
                <ul class="list-inline socialFoot">

                    <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                    </a></li>
                    <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                    </a></li>

                </ul>
            </div>
            <div style="padding: 0;font-size: 10px;    padding-top: 3px;" class="col-xs-4">
                <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
            </div>
            <div class="col-xs-4">
                <ul class="list-inline socialFoot">

                    <li><a><i class="fa fa-cc-mastercard" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="duration" style="display: none" th:text="${duration}"></div>
<div id="price" style="display: none" th:text="${#numbers.formatDecimal(price, 0, 0)}"></div>
<div id="address" style="display: none" th:text="${address}"> </div>


<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap3-typeahead.js"></script>
<script src="/page/files/isotope.pkgd.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>

<script src="/assets/js/bootstrap3-typeahead.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<script src="/js/contact_me.js"></script>

<script src="/assets/js/moment-with-locales.min.js"></script>
<script src="/assets/js/functions/moment-timezone-with-data.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/agency.min.js"></script>
<script src="/assets/js/widgets/showModalWithTableInside.js"></script>

<script src="assets/js/widgets/tableCreator.js"></script>
<script src="/assets/js/widgets/dynamicCreateForm.js"></script>
<script src="/assets/js/mainsite.js"></script>
<script src="/assets/js/calendar.js"></script>
<script src="/assets/js/class.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ3dsx4A353ZxftIJ7CkD2s9ZcFc_PTzg&callback=initMap">
</script>
<script>


</script>

</body>

</html>
