<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ALLWITZ</title>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
        var strings;
        $.ajax({
            type: 'GET',
            url: 'strings',
            dataType: 'json',
            success: function (result) {
                strings = result;
            },
            data: {},
            async: false
        });
    </script>
    <script src="js/templates.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/widgets/inlinetime.js"></script>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <style>

    </style>
    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav style="background-color: white;z-index: 500" id="mainNav"
     class="navbar navbar-default navbar-custom navbar-fixed-top">

    <div style="width: 100%;" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button style=";z-index: 100000;" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll brand" style="padding-top: 5px;" href="#page-top">ALLWITZ</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-left">
                <li id="becometeacherbtn">
                    <a class="page-scroll" th:text="${strings.main_become_a_teacher}" href="#"
                       style="color: black;font-family: font1"></a>
                </li>
            </ul>
            <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-right">
                <li id="logisignbtn">
                    <a class="page-scroll" th:text="${strings.main_login_signup}" href="#"
                       style="color: black;font-family: font1"></a>
                </li>
            </ul>
            <ul th:if="${loggedIn}" class="nav navbar-nav navbar-right">
                <li class="dropdown" id="userBtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><span
                            th:text="${userNameSurname}"></span></span></a>
                    <ul class="dropdown-menu">
                        <li class="profileBtn"><a href="#" th:text="${strings.main_menu_profile}"></a></li>
                        <li class="settingsBtn"><a href="#" th:text="${strings.main_menu_settings}"></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="logoutBtn" href="#" th:text="${strings.main_menu_log_out}"></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="" class="carousel slide" style=" min-height: 100vh; height: auto;">

    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <div style="z-index: 300;"
             class="intro-text">
            <div class="intro-heading">
                <!--   <a id="mainSearchBtn" href="#" style="font-family: font1" class="page-scroll btn btn-xl"><i
                           class="fa fa-search" aria-hidden="true"></i>
                   </a>
                   <input placeholder="Search" class="categoryInputSearch" type="text">
                   <input placeholder="City" class="cityInputSearch" type="text">-->
                <form class="form-wrapper cf">
                    <button class="searchButton" type="button"></button>
                    <input class="categorySearchField" type="text" th:placeholder="${strings.main_search_placeholder_category}">
                    <input class="citySearchField" type="text" th:placeholder="${strings.main_search_placeholder_city}">
                </form>
            </div>

        </div>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="png/background.png" class="backgroundImg" data-color="lightblue" alt="First Image">

                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Controls -->
    </div>
    <div class="awLogoRight">
        <img src="png/aw.png">
    </div>
    <div class="palmaLogoRight">
        <img src="png/palma.png">
    </div>
    <div class="zolebiRight">
        <img src="png/shav-tetri-zolebi.png">
    </div>
    <div class="yviteliZolebiRight">
        <img src="png/yviteli_zolebi.png">
    </div>
    <div class="lampLeft">
        <img src="png/lampa.png">
    </div>
</header>
<!-- Services Section -->
<!-- About Section -->
<!-- Portfolio Grid Section -->
<section id="topCategories" class="bg-light-gray">
    <div class="container categoriesContainer">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-subheading text-muted" style="font-family: brix">Popular</h2>
            </div>
        </div>


    </div>

</section>
<div class='containerGrid'>
    <header>

    </header>
    <main>
        <div class='items'>

        </div>
    </main>
</div>

<!-- Clients Aside -->

<!-- Contact Section -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <ul class="list-inline social-buttons">

                    <li><a><img src="png/fb.png">
                    </a></li>
                    <li><a><img src="png/tweeter.png">
                    </a></li>
                    <li><a><img src="png/instagram.png">
                    </a></li>
                    <li><a><img src="png/pinterest.png">
                    </a></li>
                    <li><a><img src="png/g.png">
                    </a></li>
                    <li><a><img src="png/skype.png">
                    </a></li>

                </ul>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row botomMenuLinksRow">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                       <a>
                           About Us
                       </a>
                    </li>
                    <li>
                       <a>
                           Terms & Conditions
                       </a>
                    </li>
                    <li>
                       <a>
                           Press
                       </a>
                    </li>
                    <li>
                       <a>

                           Contact
                       </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Created By  &copy; <a href="#">Technonet</a></span>
            </div>
            <div class="col-md-4">
                <span>Copyright 2017 Allwitz</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#" style="font-family: font1">Accepting:</a>
                    </li>
                    <li><a href="#" style="font-family: font1"><img class="paymentsLogosImg" src="png/payments.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->


<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap3-typeahead.js"></script>
<script src="page/files/isotope.pkgd.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<script src="assets/js/moment-with-locales.min.js"></script>
<script src="assets/js/functions/moment-timezone-with-data.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
<script src="assets/js/widgets/showModalWithTableInside.js"></script>
<script src="assets/js/widgets/dynamicCreateForm.js"></script>
<script src="assets/js/mainsite.js"></script>
<script>
    var image = 1;
    $(document).ready(function () {

    });
    var $item = $('.carousel .item');
    var $wHeight = $(window).height();
    $item.eq(0).addClass('active');
    $item.height($wHeight);
    $item.addClass('full-screen');

    $('.carousel .backgroundImg').each(function () {
        var $src = $(this).attr('src');
        var $color = $(this).attr('data-color');
        $(this).parent().css({
            'background-image': 'url(' + $src + ')',
            'background-color': $color
        });
        $(this).remove();
    });

    $(window).on('resize', function () {
        $wHeight = $(window).height();
        $item.height($wHeight);
    });

    /* $('.carousel').carousel({
     interval: 6000,
     pause: "false"
     });*/
</script>

</body>

</html>
