<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>


    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="TechnoNet">

    <title>Allwitz</title>

    <link rel="stylesheet" href="radio/kalypto.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="radio/kalypto.js"></script>
    <script>
        var strings;
        $.ajax({
            type: 'GET',
            url: 'strings',
            dataType: 'json',
            success: function (result) {
                strings = result;
            },
            data: {},
            async: false
        });
    </script>
    <script src="js/templates.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/widgets/inlinetime.js"></script>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <style>

    </style>
    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="" id="page-top" class="index">

<!-- Navigation -->
<nav style="z-index: 500" id="mainNav"
     class="navbar navbar-default navbar-custom navbar-fixed-top">

    <div style="width: 100%;" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button style=";z-index: 100000;" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll brand navlabel"
               style="padding-top: 5px; ;  padding:0; font-size: 40px;font-family: brixnorm!important; color: white" href='/'>Allwitz</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul th:if="${!isTeacher}" class="nav navbar-nav navbar-left">
                <li id="becometeacherbtn">
                    <a class="page-scroll navlabel"
                       style="color: white;font-family: brixnorm!important;"
                       th:text="${strings.main_become_a_teacher}" href="#"></a>
                </li>
            </ul>
            <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-right">
                <li id="logisignbtn">
                    <a class="page-scroll navlabel" style="padding-right: 0px;color: white;font-family: brixnorm!important;"
                       th:text="${strings.main_login_signup}" href="#"></a>
                </li>
                <li class="dropdown" id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu" style="">
                        <li value="1" class="langBtn" ><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/us.png">
                            <span style="padding-left: 10px;">English</span></a></li>
                        <li value="2" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px" src="png/ge.png">
                            <span style="padding-left: 10px;">Georgian</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul th:if="${loggedIn}" class="nav navbar-nav navbar-right">
                <li class="dropdown" id="userBtn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><span
                            th:text="${userNameSurname}" class="navlabel profName"
                            style="color: white;font-family: brixnorm!important;"></span></span></a>
                    <ul class="dropdown-menu" style="">
                        <li class="profileBtn"><a  href="#" th:text="${strings.main_menu_profile}"></a></li>
                        <li class="settingsBtn"><a  href="#" th:text="${strings.main_menu_settings}"></a></li>

                        <li><a  class="logoutBtn" href="#" th:text="${strings.main_menu_log_out}"></a></li>
                    </ul>
                </li>
                <li class="dropdown" style=" " id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu" style=" ">
                        <li value="1" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/us.png">
                            <span style="padding-left: 10px;">English</span></a></li>
                        <li value="2" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px" src="png/ge.png">
                            <span  style="padding-left: 10px;">Georgian</span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="" class="carousel slide" style=" min-height: 100vh; height: auto;">

    <div style="height: 100vh;overflow: hidden " id="mycarousel" class="carousel slide" data-ride="carousel">
        <div class="intro-text">
            <div class="intro-heading">
                <!--   <a id="mainSearchBtn" href="#" style="font-family: font1" class="page-scroll btn btn-xl"><i
                           class="fa fa-search" aria-hidden="true"></i>
                   </a>
                   <input placeholder="Search" class="categoryInputSearch" type="text">
                   <input placeholder="City" class="cityInputSearch" type="text">-->

                <div style="position:relative;" class="form-wrapper">
                    <span class="iwant">I WANT</span>
                    <form method="get" action="search.html" style="background-color: white" class="cf">

                        <input autocomplete="off" style="padding-left: 50px" class="categorySearchField" type="text"
                               name="class" th:placeholder="${strings.main_search_placeholder_search}">
                        <input autocomplete="off" name="city" style="padding-left: 50px" class="citySearchField"
                               type="text"
                               th:placeholder="${strings.main_search_placeholder_city}">
                        <button id="searchBtn" class="searchButton" type="submit"></button>

                    </form>

                </div>
                <div style="   position: relative;  z-index: 1;  top: -5px;" class="containerForRect form-wrapper">
                    <span class="tolearn" style="">TO LEARN</span>
                    <div class="paralLeft"></div>
                    <div class="paralRight"></div>
                </div>


            </div>

        </div>


        <!-- Controls -->
    </div>
</header>
<!-- Services Section -->
<!-- About Section -->
<!-- Portfolio Grid Section -->
<section id="topCategories" class="bg-light-gray">


    <div class="containerfortopcat">
        <div class="row" style="height: 55vh;background-color: #efefee">
            <div class="col-md-6 imgDivLeft">
                <img class="imgRight imgHeart" src="png/new/1.png">
            </div>
            <div class="col-md-6 textDivRight">

                <div class="descriptionText">How do I see this text?
                    <br> Learn all about how your brain learns, from
                    <br> fellow peers or medical doctors.
                </div>
            </div>
        </div>
        <div class="row" style="height: 55vh;background-color: #8fc9ea">
            <div class="col-md-6 imgDivRight">
                <img class="imgRight" src="png/new/2.png">
            </div>
            <div class="col-md-6 textDivLeft">

                <div class="descriptionTextLeft" style="color: white">Want to understand nature’s imagination?
                    <br> Find someone who can show you its mind.
                </div>
            </div>
        </div>
        <div class="row" style="height: 55vh;background-color: #274402">
            <div class="col-md-6 imgDivLeft">
                <img class="imgRight" src="png/new/4.png">
            </div>
            <div class="col-md-6 textDivRight">

                <div class="descriptionText" style="color: white">Can I be the next Serena Williams?
                    <br> -Probably not.
                    <br> But you can learn how to play tennis like a pro,
                    <br> find your teacher here.
                </div>
            </div>
        </div>
        <div class="row" style="height: 55vh;background-color: #db2e2d">
            <div class="col-md-6 imgDivRight">
                <img class="imgRight" src="png/new/3.png">
            </div>
            <div class="col-md-6 textDivLeft">

                <div class="descriptionTextLeft" style="color: white">Creativity comes from unlikely
                    juxtapositions.<br/> – Nicholas Negroponte
                    <br> Find your perfect pairing here.
                </div>
            </div>
        </div>
        <div class="row" style="height: 55vh;background-color: #efefee">
            <div style="" class="col-md-6 imgDivLeft imgDivCar">
                <img class="imgRight imgCar" src="png/new/6.png">
            </div>
            <div class="col-md-6 textDivRight">

                <div class="descriptionText" style="color: black">DMV in a week? <br> Go find your driving teacher now.
                </div>
            </div>
        </div>
        <div class="row" style="height: 55vh;background-color: #fdbb9c">
            <div class="col-md-6 imgDivRight">
                <img class="imgRight" src="png/new/5.png">
            </div>
            <div class="col-md-6 textDivLeft">

                <div class="descriptionTextLeft" style="color: black">Alternative facts are not facts. Or are they?
                    <br> Learn how to look at current events through lens of history.</div>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->

<!-- Contact Section -->


<footer class="footerLarge" style="padding-left: 4%;padding-right: 4%">
    <div style="margin-right: auto;
    margin-left: auto;">
        <div class="row">
            <div class="col-md-5">
                <ul style="font-size: 18px;color:black;font-family:brix!important;margin-bottom: 0px;    padding-top: 2px;"
                    class="list-inline footerLeft">
                    <li>
                        <a style="color: black">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a style="color: black">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a style="color: black">
                            Press
                        </a>
                    </li>
                    <li>
                        <a style="color: black">

                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul  class="list-inline socialFoot">

                    <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                    </a></li>
                    <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                    </a></li>

                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-inline quicklinks footerRight">
                    <li><a href="#" style="font-family: font1"><i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li><a href="#" style="font-family: font1"><i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>

        <div style="padding-top: 10px" class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</footer>
<footer class="footerMin" style="padding-left: 4%;padding-right: 4%">
    <div style="margin-right: auto;
    margin-left: auto;">


        <div style="padding-top: 10px" class="row">

            <div class="col-xs-4">
                <ul  class="list-inline socialFoot">

                    <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                    </a></li>
                    <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                    </a></li>

                </ul>
            </div>
            <div style="padding: 0;font-size: 10px;    padding-top: 3px;" class="col-xs-4">
                <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
            </div>
            <div class="col-xs-4">
                <ul  class="list-inline socialFoot">

                    <li><a><i class="fa fa-cc-mastercard" aria-hidden="true"></i>

                    </a></li>
                    <li style=""><a><i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->


<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap3-typeahead.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="page/files/isotope.pkgd.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<script src="assets/js/moment-with-locales.min.js"></script>
<script src="assets/js/functions/moment-timezone-with-data.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
<script src="assets/js/widgets/showModalWithTableInside.js"></script>

<script src="assets/js/widgets/tableCreator.js"></script>
<script src="assets/js/widgets/dynamicCreateForm.js"></script>
<script src="assets/js/mainsite.js"></script>
<script>

    $(document).ready(function () {
        function checkScroll() {
            var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

            if ($(window).scrollTop() > startY) {
                $('.navbar').addClass("scrolled");
                $(".navlabel").addClass("navlabelScroled")
                $(".profileBtn").addClass("navlabelScroled")
                $(".settingsBtn").addClass("navlabelScroled")
                $(".logoutBtn").addClass("navlabelScroled")
            } else {
                $('.navbar').removeClass("scrolled");
                $(".navlabel").removeClass("navlabelScroled")
                $(".profileBtn").removeClass("navlabelScroled")
                $(".settingsBtn").removeClass("navlabelScroled")
                $(".logoutBtn").removeClass("navlabelScroled")
            }
        }

        $(window).on("scroll load resize", function () {
            checkScroll();
        });
    })
</script>

</body>

</html>
