<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Allwitz</title>
    <link rel="stylesheet" href="radio/kalypto.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="radio/kalypto.js"></script>
    <script>
        var strings;
        $.ajax({
            type: 'GET',
            url: 'strings',
            dataType: 'json',
            success: function (result) {
                strings = result;
            },
            data: {},
            async: false
        });
    </script>
    <script src="js/templates.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/widgets/inlinetime.js"></script>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id"
          content="493400848528-rvhu5blcif6mhpujdrm083ll77bd53dq.apps.googleusercontent.com">
    <style>

    </style>
    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">

    <link href="css/range.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body style="overflow: visible!important;" id="page-top" class="index">

<!-- Navigation -->
<nav style="background-color: white;z-index: 500" id="mainNav"
     class="navbar navbar-default navbar-custom navbar-fixed-top">

    <div style="width: 100%;" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button style=";z-index: 100000;" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll brand"
               style="padding-top: 5px;  padding:0;  font-size: 30px;font-size: 40px;font-family: brixnorm!important; "
               href="/">Allwitz</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul th:if="${!isTeacher}" class="nav navbar-nav navbar-left">
                 <li id="becometeacherbtn">
                     <a class="page-scroll" th:text="${strings.main_become_a_teacher}" href="#"
                        style="font-size: 18px;color: black;font-family: brixnorm!important;"></a>
                 </li>
             </ul>
            <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-right">
                <li id="logisignbtn">
                    <a class="page-scroll" th:text="${strings.main_login_signup}" href="#"
                       style="font-size: 18px;color: black;font-family: brixnorm!important;padding-right: 0px;"></a>
                </li>
                <li class="dropdown" id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu">
                        <li value="1" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/us.png"><span
                                style="padding-left: 10px">English</span></a></li>
                        <li value="2" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/ge.png"><span
                                style="padding-left: 10px">Georgian</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul th:if="${loggedIn}" class="nav navbar-nav navbar-right">
                <li class="dropdown" id="userBtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><span
                            th:text="${userNameSurname}" class="profName"
                            style="color: black;font-family: brixnorm!important;"></span></span></a>
                    <ul class="dropdown-menu">
                        <li class="profileBtn"><a href="#" th:text="${strings.main_menu_profile}"></a></li>
                        <li class="settingsBtn"><a href="#" th:text="${strings.main_menu_settings}"></a></li>

                        <li><a class="logoutBtn" href="#" th:text="${strings.main_menu_log_out}"></a></li>
                    </ul>
                </li>
                <li class="dropdown" id="langbtn">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><span style="display: flex"><!--<img class="profilePicInHeader" th:src="${profilePicUrl}">--><img
                            style="height: 20px" id="curLang" src=""></span></a>
                    <ul class="dropdown-menu">
                        <li value="1" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/us.png"><span
                                style="padding-left: 10px">English</span></a></li>
                        <li value="2" class="langBtn"><a href="#" style="font-size: 15px"><img style="height: 15px"
                                                                                        src="png/ge.png"><span
                                style="padding-left: 10px">Georgian</span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<section style="padding: 60px 0!important;" id="searchview">

    <div class="row searchFieldsRow">
        <div class="searchElementsContainer">

            <form method="get" action="search.html">
                <div class="myCol25">
                    <input style="padding-left: 30px;font-family: brix!important;color: black"
                           class="citySearchField onSearchPage cityOnSearch" type="text"
                           th:placeholder="${strings.main_search_placeholder_city}">
                </div>
                <div class="myCol25">
                    <input style="padding-left: 30px;font-family: brix!important;color: black"
                           class="categorySearchField onSearchPage classOnSearch" type="text"
                           th:placeholder="${strings.main_search_placeholder_search}">

                </div>

                <div class="myCol25">
                    <input style="padding-left: 30px;font-family: brix!important;color: black"
                           class="placeSearchField onSearchPage classOnSearch" type="text"
                           placeholder="Meating point">

                </div>
            </form>
        </div>
    </div>

    <div class="mainCont">
        <div class="results">
            <div style="padding-left: 10%;padding-top: 10px" class="row filtersDiv">
                <ul class="list-inline quicklinks">
                    <li class="dropMenu"><a class="" id="sortByBtn"
                                            style="cursor:pointer;font-family: brix!important;font-size: 17px">Sort
                        by<img
                                style="width: 13px;padding-left: 4px"
                                src="png/login/9.png"></a>
                        <div class="revileMenu ">
                            <table style="margin: 20px">
                                <tbody>
                                <tr>
                                    <td style="font-size: 16px;width: 120px;font-family: brix!important;">
                                        Rating
                                    </td>
                                    <td style="padding-left: 20px">
                                        <input class="sortCheck radio" name="sort" checked="checked" value="1" type="radio">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 16px;width: 120px;font-family: brix!important;">
                                        Most Reviewed
                                    </td>
                                    <td style="padding-left: 20px">

                                        <input class="sortCheck radio" name="sort" value="2" type="radio">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="dropMenu"><a id="priceFilterBtn" href="#"
                                            style="font-family: brix!important;font-size: 17px">Price
                        range<img style="width: 13px;padding-left: 4px"
                                  src="png/login/9.png"></a>
                        <div class="revileMenuPrice ">
                    <span style="width: 100%;height: 100%;display: grid;">
                        <span class="priceRangeClass" style="margin: 20px;font-family: brixLight!important;">
                        0₾ - 1000₾
                    </span>
                        <span class="multi-range">
                        <input style="margin-left: 20px" type="range" min="0" max="200" value="0" id="lower">
                        <input style="margin-left: 20px" type="range" min="0" max="200" value="199" id="upper">
                    </span>
                        <span>

                    </span>
                    </span>

                        </div>
                    </li>
                    <li class="dropMenu">
                        <a href="#" style="font-family: brix!important;font-size: 17px">More filters
                            <img style="width: 13px;padding-left: 4px" src="png/login/9.png"></a>
                        <div style="overflow-x: scroll;-ms-overflow-x: scroll" class="revileMenuMore ">
                            <div style="min-width: 560px;margin: 20px;" class="row">
                                <div class="col-xs-4">
                                    <ul style="padding-left: 10px" class="list-classType">
                                        <li style="font-family: brixnorm!important;margin-bottom: 3px">Education</li>
                                        <li><span>All</span><input class="educationCheck radio" name="education" checked="checked" value="1" type="radio"></li>
                                        <li><span>High School</span><input class="educationCheck radio" name="education" value="2" type="radio"></li>
                                        <li><span>Bachelor’s Degree</span><input class="educationCheck radio" name="education" value="3" type="radio"></li>
                                        <li><span>Master’s Degree</span><input class="educationCheck radio" name="education" value="4" type="radio"></li>
                                        <li><span>PhD</span><input class="educationCheck radio" name="education" value="5" type="radio"></li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">

                                    <ul style="padding-left: 10px" class="list-classType">
                                        <li style="font-family: brixnorm!important;margin-bottom: 3px"> Years of Experience</li>
                                        <li><span>All</span><input class="expirienceCheck radio" name="expirienceCheck" checked="checked" value="1" type="radio"></li>
                                        <li><span>0-1</span><input class="expirienceCheck radio" name="expirienceCheck" value="2" type="radio"></li>
                                        <li><span>1-3</span><input class="expirienceCheck radio" name="expirienceCheck" value="3" type="radio"></li>
                                        <li><span>3-5</span><input class="expirienceCheck radio" name="expirienceCheck" value="4" type="radio"></li>
                                        <li><span>5-10</span><input class="expirienceCheck radio" name="expirienceCheck" value="5" type="radio"></li>
                                        <li><span>10+</span><input class="expirienceCheck radio" name="expirienceCheck" value="6" type="radio"></li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                    <ul style="padding-left: 10px" class="list-classType">
                                        <li style="font-family: brixnorm!important;margin-bottom: 3px" >Age</li>
                                        <li><span>All</span><input class="ageCheck radio" name="ageCheck" checked="checked" value="1" type="radio"></li>
                                        <li><span>18-24 years old</span><input class="ageCheck radio" name="ageCheck" value="2" type="radio"></li>
                                        <li><span>25-34 years old</span><input class="ageCheck radio" name="ageCheck" value="3" type="radio"></li>
                                        <li><span>35-44 years old</span><input class="ageCheck radio" name="ageCheck" value="4" type="radio"></li>
                                        <li><span>45-54 years old</span><input class="ageCheck radio" name="ageCheck" value="5" type="radio"></li>
                                        <li><span>55-65 years old</span><input class="ageCheck radio" name="ageCheck" value="6" type="radio"></li>
                                        <li><span>65 years or older</span><input class="ageCheck radio" name="ageCheck" value="7" type="radio"></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a style=""><p id="numberOfResult" style="font-family: brix!important;color: black;padding-left: 5vw">

            </p>
            </a>
            <div style="display: grid" class="searchResultDiv">

            </div>
        </div>
        <div class="mapDiv">
            <div id="map" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></div>
        </div>
    </div>
    <footer class="footerLarge" style="padding-left: 4%;padding-right: 4%">
        <div style="margin-right: auto;
    margin-left: auto;">
            <div class="row">
                <div class="col-md-5">
                    <ul style="font-size: 18px;color:black;font-family:brix!important;margin-bottom: 0px;    padding-top: 2px;"
                        class="list-inline footerLeft">
                        <li>
                            <a style="color: black">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a style="color: black">
                                Terms & Conditions
                            </a>
                        </li>
                        <li>
                            <a style="color: black">
                                Press
                            </a>
                        </li>
                        <li>
                            <a style="color: black">

                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline socialFoot">

                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                        </a></li>
                        <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                        </a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                        </a></li>
                        </a></li>

                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks footerRight">
                        <li><a href="#" style="font-family: font1"><i class="fa fa-cc-visa" aria-hidden="true"></i>
                        </a>
                        </li>
                        <li><a href="#" style="font-family: font1"><i class="fa fa-cc-mastercard"
                                                                      aria-hidden="true"></i>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="padding-top: 10px" class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </footer>
    <footer class="footerMin" style="padding-left: 4%;padding-right: 4%">
        <div style="margin-right: auto;
    margin-left: auto;">


            <div style="padding-top: 10px" class="row">

                <div class="col-xs-4">
                    <ul class="list-inline socialFoot">

                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i>

                        </a></li>
                        <li style=""><a><i class="fa fa-twitter" aria-hidden="true"></i>

                        </a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i>
                        </a></li>
                        </a></li>

                    </ul>
                </div>
                <div style="padding: 0;font-size: 10px;    padding-top: 3px;" class="col-xs-4">
                    <span style="font-family: brix!important;font-size: 1em">Copyright 2017 Allwitz</span>
                </div>
                <div class="col-xs-4">
                    <ul class="list-inline socialFoot">

                        <li><a><i class="fa fa-cc-mastercard" aria-hidden="true"></i>

                        </a></li>
                        <li style=""><a><i class="fa fa-cc-visa" aria-hidden="true"></i>
                        </a></li>


                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>

<!-- Clients Aside -->

<!-- Contact Section -->


<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->


<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap3-typeahead.js"></script>
<script src="page/files/isotope.pkgd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<script src="assets/js/moment-with-locales.min.js"></script>
<script src="assets/js/functions/moment-timezone-with-data.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
<script src="assets/js/widgets/showModalWithTableInside.js"></script>

<script src="assets/js/widgets/tableCreator.js"></script>
<script src="assets/js/widgets/dynamicCreateForm.js"></script>
<script src="assets/js/mainsite.js"></script>
<script src="assets/js/search.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ3dsx4A353ZxftIJ7CkD2s9ZcFc_PTzg&callback=initMap">
</script>
<script>


</script>

</body>

</html>
