* {
    box-sizing: border-box;
}



.grid {
    text-align: justify;
    font-size: 0.1px;
}
.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* default small screen 2-column layout */
.grid-base-element, .grid-element, .grid-placeholder {
    display: inline-block;
    width: 48%;
    text-indent: -9999px;
    vertical-align: top;
    transition: width 0.5s;
}

.grid-element {
    margin-bottom: 2.5%;
    /* Used instead of height to give elements fluid, width-based height */
    padding-top: 48%;
    background-color: #ffffff;
}

.grid-placeholder {
    height: 0;
}

/**
   MEDIA QUERIES FOR ALTERNATE LAYOUTS
*/
/* medium screen 3 column layout */
@media (min-width: 400px) {
    .grid-base-element, .grid-element, .grid-placeholder {
        width: 32%;
    }

    .grid-element {
        padding-top: 29%;
    }
}
/* large screen 4 column layout */
@media (min-width: 800px) {
    .grid-base-element, .grid-element, .grid-placeholder {
        width: 29%;
    }

    .grid-element {
        padding-top: 23%;
    }
}
