.reg-control {
    margin-bottom: 5px;
}

.birthdayPicker select {
    width: 33%;
    margin: 5px;
}

.reg-invalid {
    border-color: red;
    outline-color: red;
}

#errorMessage {
    color: red;
}

#emailExistsError {
    color: red;
}

.profilePicInHeader {
    height: 50px;
}

.dropdown a {
    color: black;
}

.settingsList {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settingsItem {
    border-color: #e9ebee;
    border-style: solid;
    word-wrap: break-word;
}

.settingsItemA {
    background: transparent;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    zoom: 1;
    cursor: pointer;
}

.settingsItemA:hover {
    background-color: lightgrey;
}

.settingsItemH {
    margin: 0;
    padding: 0;
    color: #333;
    float: left;
    font-size: 11px;
    width: 165px;
}

.settingsItemEditButton {
    color: #365899;
    float: right;
    padding-left: 25px;
    padding-right: 5px;
    text-align: right;
}

.settingsItemValue {
    color: #90949c;
    padding-left: 0;
}

.disconectFbButton {
    margin-left: 5px;
}

.settingsChangeFormDiv {
    padding: 10px;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
}

.carousel,
.item,
.active {
    height: 100%;
}

.item {
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set wi2px the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-custom .nav li a {
    font-size: 15px;
}

.portfolio-item {
    padding-top: 10px;
}

.selectbox {
    color: black;
    background: transparent;
    border-bottom: black;
    border-style: groove;
    width: 250px;
    text-align: center;
}

.categoryInputSearch {
    font-color: black;
}

.cityInputSearch {

}

/*Clearing Floats*/
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}



/* Form wrapper styling */
.form-wrapper {
    max-width: 400px;
    min-width: 300px;
    width: 30vw;
    padding: 15px;
    margin: 0 auto 0 auto;
    z-index: 10000;
}

/* Form text input */

.form-wrapper input {
    width: 40%;
    height: 12vh;
    min-height: 70px;
    padding: 10px 5px;
    float: left;
    font: bold 20px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: white;
    border-style: solid;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
}

.form-wrapper input::-webkit-input-placeholder {
    color: grey;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: grey;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: grey;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    min-height: 70px;
    height: 12vh;
    width: 20%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: white;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    background-image: url(../png/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-wrapper button i {
    color: #000;
}

.form-wrapper button:hover:before {
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.citySearchField {
    border-right: 2px solid grey !important;
    color: grey;
    text-align: center !important;
}

.categorySearchField {
    color: grey;
    text-align: center !important;
}

.awLogoRight {
   display: none;
}
.palmaLogoRight{
    display: none;
}
.zolebiRight{
    display: none;
}
.yviteliZolebiRight{
    display: none;
}
.lampLeft{
    display: none;
}
#topCategories{
    padding-top: 20px;
    padding-bottom: 0px;
}
.categoriesContainer{
    width:90%!important;
}
.item1{
    background-image: url("../png/guli.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item2{
    background-image: url("../png/manikeni.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item3{
    background-image: url("../png/burti.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item4{
    background-image: url("../png/skami.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item5{
    background-image: url("../png/david.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item6{
    background-image: url("../png/sagzao-nishani.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.social-buttons img{
    width: 40px;
    cursor: pointer;
    padding-bottom: 5px;
}
.footerMenu{
    list-style-type: none;
}
.footerMenu li{
    float: left;
    padding: 10px;
    cursor: pointer;
}