@media only screen
and (min-width : 1824px) {
    /* Styles */
    .teacherNameRowClass {
        height: 40px;
    }

    .namecityrowclass {
        text-align: left;
        padding: 0;

    }

    .namecityrowclass .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .nameLabelClass {
        color: #46c3bf;
        font-size: 35px;
        font-family: brixNorm, serif !important;
    }

    .cityLabelClass {
        color: white;
        font-size: 32px;
        margin-top: 5px;
        font-family: brix, serif !important;
    }

    .classLabelClass {
        color: white;
        font-size: 28px;

        margin-top: 5px;
        font-family: brix, serif !important;
    }

    .classHeader {
        min-height: 57vh;
        max-height: 57vh;
        height: auto;
        background-color: #99CCFF
    }

    .headerDivTeacher {
        padding: 10%;
        padding-top: 130px;

    }
    .staricon{
        width: 22px;
    }

    .starRatingDivClass {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        /* text-align: center; */
        padding-left: 26px;
        padding-right: 0;
        text-align: left;
        display: flex;
    }

    .classPageContainer {
        text-align: left;
    }

    .reviewsLabelClass {
        font-family: brix !important;
        padding-left: 25px;
        font-size: 25px;
    }

    .viewsLabelClass {

        font-family: brix !important;
        padding-left: 10px;
        align-self: center;
        font-size: 20px;
    }

    .viewsLabelClass img {
        vertical-align: middle;
        width: 19px;
        padding-right: 5px;
        padding-bottom: 3px;
    }

    .starRatingClass {
        color: #46c3bf;
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .profileImageClass {
        width: 100%;
    }

    .profilePicContainerClass {
        padding: 0;
    }

    .namecityrowclass .row {
        padding-left: 25px;
    }

    .headerStarsTopDiv {
        padding: 0;
    }

    .profilePicContainerClass {
        max-width: 200px;
        min-width: 180px;
    }

    .classAbout {
        color: white;
        font-size: 32px;
        margin-top: 41px;
        font-family: brix, serif !important;
    }

    .classAboutText {
        color: white;
        font-size: 32px;
        margin-top: 5px;
        font-family: brix, serif !important;
        line-height: 1.3;
    }

    .classBodySection {
        padding-top: 10px;
    }

    .classBodyContainer {
        padding-left: 10%;
        padding-right: 10%;
    }

    .classBodyCol {
        padding: 0;
    }

    .classNav {
    }

    .classNav li {
        padding: 10px;

    }

    .classNav a {
        font-size: 28px;
        font-family: brix !Important;
    }

    .classNav > li > a:focus {
        background-color: transparent;
    }

    .classNav > li > a:hover {
        background-color: transparent;
    }

    .infoCol {
        border-top: rgba(128, 128, 128, 0.38) solid 1px;

    }

    .infoRow {
        margin-top: 25px;
        height: 120px;
    }

    .infoLogoName {
        height: 100%;
        display: grid;
    }

    .sucLogo{
        width: 72px!important;
    }

    .infoLogoName img {
        width: 75px;
    }
    .emplLogo{
        width: 72px!important;
    }

    .noLeftPadding {
        padding-left: 0 !important;
    }

    .noRightPadding {
        padding-right: 0 !important;
    }

    .infoContent {
        height: 100%;
        border-bottom: rgba(128, 128, 128, 0.38) solid 1px;

    }

    .lastInfoContent {
        border-bottom: none !important;
    }

    .infoP {
        height: 100%;
        font-family: brix !important;
        font-size: 25px;
        color: black;
        line-height: 1.2;
    }

    .infoRow div{
        padding-bottom: 20px;
    }

    .infoTitle {
        font-family: brixNorm !important;
        font-size: 25px;
    }

    .mapDivClass {
        height: 400px;
        width: 100%;
        padding-top: 10px;
    }

    .mapCol {
        border-top: rgba(128, 128, 128, 0.38) solid 1px;
        margin-top: 20px;
        padding-top: 20px;
    }

    .mapTitle {
        font-family: brixNorm !important;
        font-size: 18px;
        padding-top: 10px;
    }

    .ratingsTitle {
        font-family: brixNorm !important;
        font-size: 18px;
        padding-top: 10px;
    }

    .reviewsCol {
        margin-top: 20px;
        padding-top: 20px;
        border-top: rgba(128, 128, 128, 0.38) solid 1px;
    }

    .floatRightClassRating {
        float: right;
    }

    .ratingStarsTable {
        width: 300px;
    }

    .ratingStarsTable > td {
        font-size: 15pt;
    }

    .ratingLeftTd {
        padding-top: 2px;
        width: 50%;
    }

    .ratingRightTd {
        width: 50%;

    }

    .ratingStarsTable td {
        font-family: brix;
        font-size: 11pt;
    }

    .reviewsColDetailed {
        margin-top: 20px;
        padding-top: 20px;
        border-top: rgba(128, 128, 128, 0.38) solid 1px;
    }

    .reviewsSecondRow {
        padding-top: 20px;
    }

    .rightSide {
        text-align: right;
    }

    .reviewsColList {
        margin-top: 20px;
        padding-top: 20px;
    }

    .reviewrImage {
        height: 80px;
    }

    .reviewerNameTd {
        height: 100%;
        padding-top: 60px;
        padding-left: 10px;
    }

    .reviewrNameImageRow {
        height: 90px;
    }

    .noPaddingTop {
        padding-top: 0 !important;
    }

    .reviewItemDiv {
        padding-top: 20px;
    }

    .reviewItemDivHead {
        height: 90px;
    }

    .reviewItemDivHead table {
        height: 90px;
    }

    .reviewItemDivHead table tbody {
        height: 90px;
    }

    .reviewerNameSpan {
        font-family: brix !important;
        font-size: 12pt;
    }

    .borderBotom {
        border-bottom: rgba(128, 128, 128, 0.38) solid 1px;
    }

    .reviewsMoreButton {
        font-size: 12pt;
        color: #46c3bf;
        font-family: brix !important;
    }

    .calendarTopDiv {

        max-width: 275px;
        border: rgba(128, 128, 128, 0.38) solid 1px;;
        overflow: hidden;
        margin: auto;
    }

    .calendarTopDivItems {
        border: rgba(128, 128, 128, 0.38) solid 1px;
        margin: auto;
    }

    .calendarHeader {
        width: 100%;
        height: 60px;
        max-width: 275px;

        background-color: #46c3bf;
        display: flex;
    }

    .calendarBody {

        height: 200px;
        display: flex;
    }
    .calendarBodyTimes {

        border: solid black 1px;
        margin: 10px;

        height: 200px;
    }
    .calendarBodyTimes .header{
        border-bottom: solid black 1px;
    }

    .calendarHeader h2 {
        color: white;
        padding: auto;
        align-self: center;
        padding-left: 20px;
        padding-top: 8px;
        font-family: brix !important;
        font-size: 15pt;
        margin: 0;
    }

    .bookedTimesDiv {
        padding-top: 20px;
    }

    .timesForBookTableDiv {
        height: 170px;
        padding: 5px;
        overflow: scroll;
    }

    .timesForBookTableDiv tr {
        border: 1px solid grey;
    }

    .bookButton {
        background-color: #46c3bf;
        width: 100%;
        font-size: 15pt;
        color: white;
        font-family: brix !important;
    }

    .bookButtonPlace {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding-bottom: 30px;
    }

    .clasTypeButtonPlace{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding-bottom: 30px;
    }
    .classTypeText{
        font-family: brix !important;
        color: grey;
        font-size: 12pt;
    }

    .withDates {
        background-color: #46c3bf !important;
    }

    .hide {
        display: none;
    }

    .warningWontBeCharged {
        font-family: brix !important;
        color: grey;
        font-size: 8pt;
    }

    .removeDateFromItems {
        cursor: pointer;
    }
    .classTypeLabel{
        font-family: brix !important;
        color: grey;
        font-size: 10pt;
        float: left;
    }
    .classTypeInput{
        float: right;
    }
    .classTypeDiv{
        width: 90%;
        margin: auto;
    }
    .calendarBodyTimesDiv{
        overflow: scroll;
        height: calc(100%  - 40px);
    }
    .timesPlaceTableBody tr{
        border-bottom: solid black 1px;
    }
    .timeTd{
        padding: 5px!important;
        font-family: brix!important;
        cursor: pointer;
        padding-left: 10px!important;
    }
    .timesPlaceTableBody :last-child{
        border-bottom: none;
    }
    .addTimeButton{
        color: white;
        background-color: #46c3bf;
        padding: 3px 6px;
        font-size: 12px;
    }
    .reviewItemDivBody p{
        font-family: brix!important;
        font-size: 12pt;
    }
}