@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    /* Styles */
    :root {
        --widz: 100%;
    }
    .paralLeft {
        display: none;
    }
    .paralRight{
        display: none;
    }
    .iwant{
        padding: 0;
        font-size: 75px;
        margin: auto;
        color: #46c3bf;
    }
    .tolearn{
        font-size: 60px;
        color: white;
        margin: auto;
        position: inherit;
    }
    .form-wrapper{
        display: grid;

    }
    .form-wrapper input{
        height: 50px!important;
        font-size: 15px;
    }
    .form-wrapper button{
        height: 50px!important;
        background-size: 15px;
    }

    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        top: 130px!important;
        border-radius: 0px!important;
    }
    header .intro-text{
        top:55%
    }
    .navbar-toggle{
        border: none;
        color: #218769!important;
        font-size: 25px!important;
        margin-top: 2px;
    }
    .descriptionText,.descriptionTextLeft{
        display: none!important;
    }
    .imgRight{
        max-width: 30vh!important;
        align-self: center;
    }
    .imgDivLeft,.imgDivRight{
        height: 100%;
        display: flex;
    }
    .imgDivCar{
        padding: 0;

    }
    .imgCar{margin: 0;
        height: 100%;
        position: absolute;
        bottom: 0;
        width: 55vh;
        max-width: 55vh!important;

    }

    .footerLarge{
        display: none;
    }
}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 481px) {
    /* Styles */
    .footerMin{
        display: none;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1224px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1224px)
and (orientation : landscape) {
    /* Styles */
    .navbar {
        padding-top: 10px;
    }
    header .intro-text{
        top: 51%;
    }
    .paralLeft {
        border-top: 80vh solid #46c3bf!important;
        border-left: 517px solid transparent !important;
        float: left;
    }

    .paralRight {
        border-right: 517px solid transparent !important;
        margin-left: 513px !important;
        border-bottom: 80vh solid #46c3bf!important;

    }
    .form-wrapper {
        max-width: 520px;
        min-width: 300px;
        width: 520px;
        margin: 0 auto 0 auto;
        z-index: 10000;
        font-family: brix !important;
    }
    .tolearn{
        font-size: 112px!important;
        margin-left: 110px;
        padding-top: 25px;
    }
    .iwant{
        font-size: 104px!important;
    }

    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        top: 165px!important;
        border-radius: 0px!important;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1224px)
and (orientation : portrait) {
    /* Styles */
    .navbar {
        padding-top: 10px;
    }
    header .intro-text{
        top: 60%;
    }
    .paralLeft {
        border-top: 80vh solid #46c3bf!important;
        border-left:  calc(517px - 120px)solid transparent !important;
        float: left;
    }

    .paralRight {
        border-right:  calc(517px  - 120px) solid transparent !important;
        margin-left: calc(513px - 120px)!important;
        border-bottom: 80vh solid #46c3bf!important;

    }
    .form-wrapper {
        max-width: 520px;
        min-width: 300px;
        width: 400px;
        margin: 0 auto 0 auto;
        z-index: 10000;
        font-family: brix !important;
    }
    .tolearn{
        font-size: 88px!important;
        margin-left: 60px;
        padding-top: 10px;
    }
    .iwant{
        font-size: 79px!important;
    }

    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        top: 165px!important;
        border-radius: 0px!important;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
    .navbar {
        padding-top: 10px;
    }
    header .intro-text{
        top: 55%;
    }
    .tolearn {
        display: -webkit-box;
        font-family: brixLight !important;
        margin-left: 80px!important;
        padding-top: 13px!important;
        font-size: 93px !important;;
        font-weight: 100;
        white-space: nowrap;
        position: absolute;
        color: black
    }
    .iwant {
        display: -webkit-box;
        font-family: brixBold;
        font-size: 97px!important;
        padding-bottom: 15px!important;
    }
    .navbar-brand{
        padding: 0;
        font-size: 40px!important;
        font-family: brixnorm!important;
    }
    #becometeacherbtn a{
        font-size: 25px;

    }
    #logisignbtn a{
        font-size: 25px;

    }
    .paralLeft {
        border-top: 60vh solid #46c3bf!important;
        border-left: 417px solid transparent !important;
        float: left;
    }

    .paralRight {

        border-right: 417px solid transparent !important;
        margin-left: 413px !important;
        border-bottom: 60vh solid #46c3bf!important;


    }

    .form-wrapper {
        width: 420px!important;
    }

    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        top: 165px!important;
        border-radius: 0px!important;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

    .navbar {
        padding-top: 15px;
    }

    /* Styles */
    header .intro-text{
        top: 60%;
    }
    .tolearn {
        display: -webkit-box;
        font-family: brixLight !important;
        margin-left: 70px;
        padding-top: 18px!important;
        font-size: 120px !important;;
        font-weight: 100;
        white-space: nowrap;
        position: absolute;
        color: black
    }
    .iwant {
        display: -webkit-box;
        font-family: brixBold;
        font-size: 124px!important;
        padding-bottom: 15px!important;
    }
    .navbar-brand{
        padding: 0;
        font-size: 54px!important;
        font-family: brixnorm!important;
    }
    #becometeacherbtn a{
        font-size: 25px;
        padding-top: 15px;
    }
    #logisignbtn a{
        font-size: 25px;
        padding-top: 15px;
    }
    .paralLeft {

        border-left: 517px solid transparent !important;
        float: left;
    }

    .paralRight {
        border-right: 517px solid transparent !important;
        margin-left: 513px !important;

    }
    .form-wrapper {
        width: 520px!important;
    }

    .descriptionText {
        font-family: brix;
        color: black;
        font-size: 40px !important;
        align-self: center;
        text-align: center;
        margin: auto;
    }

    .descriptionTextLeft {
        font-family: brix;
        color: black;
        font-size: 40px !important;
        align-self: center;
        text-align: center;
        margin-left: 20%;
    }

    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        top: 165px!important;
        border-radius: 0px!important;
    }
}

.footerLeft{
    display: flex;
}
.footerLeft li{

}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
    background-color:rgba(70, 195, 191, 0.69)!important;
}
.dropdown-menu a{
    font-family: brixnorm!important;
    font-size: 20px;
}