.revileMenu{
    position: absolute;
    height: 90px;
    width: 200px;
    z-index: 100;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    display: none;
}
.revileMenuPrice{
    position: absolute;
    height: 165px;
    display: none;
    width: 300px;
    z-index: 100;
    background: white;
    border: 1px solid black;
    border-radius: 8px;

}
.revileMenuMore{
    position: absolute;
    display: none;
    width: 90%;
    left:5%;
    max-width: 570px;
    z-index: 100;
    background: white;
    border: 1px solid black;
    border-radius: 8px;

}
.activeItem div{
    display: block!important;
}
.hr{
    opacity: 0.3;
}
@media only screen
and (min-width : 340px)
and (max-width : 480px) {
    /* Styles */
    .revileMenuPrice{
        left: 10%;
    }
}@media only screen
and (min-width : 320px)
and (max-width : 340px) {
    /* Styles */
    .revileMenuPrice{
        left: 5%;
    }
}



@media only screen
and (min-width : 1024px) {

}

@media only screen
and (min-width : 1500px) {
    .filtersDiv,.searchFieldsRow,.mainCont{
        zoom: 1.05;
    }
}

@media only screen
and (min-width : 1600px) {
    .filtersDiv,.searchFieldsRow,.mainCont{
        zoom: 1.111;
    }
}

@media only screen
and (min-width : 1824px) {
    .filtersDiv,.searchFieldsRow,.mainCont{
        zoom: 1.333;
    }

}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    /* Styles */


    .dropdown-menu{
        width: calc(100%)!important;
        left: 0px!important;
        border: none!important;
        border-radius: 0px!important;
    }
    header .intro-text{
        top:55%
    }
    .navbar-toggle{
        border: none;
        color: #218769!important;
        font-size: 25px!important;
        margin-top: 2px;
    }


    .footerLarge{
        display: none;
    }
}
@media only screen
and (min-width : 481px) {
    /* Styles */
    .footerMin{
        display: none;
    }
}
.footerLeft{
    display: flex;
}
.footerLeft li{

}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
    background-color:rgba(70, 195, 191, 0.69)!important;
}
.dropdown-menu a{
    font-family: brixnorm!important;
    font-size: 20px;
}
.list-group input{
    float: right;
}
.list-group li{
    margin-top: 5px;
    font-family: brixLight!important;
    font-size: 16px;
}
