<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
                    <h3>
                        h3. Lorem ipsum dolor sit amet.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2>
                            Hello, world!
                        </h2>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="#">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">

                            <button type="button" class="btn btn-block btn-info">
                                Default
                            </button>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    Consectetur adipiscing elit
                                </li>
                                <li>
                                    Integer molestie lorem at massa
                                </li>
                                <li>
                                    Facilisis in pretium nisl aliquet
                                </li>
                                <li>
                                    Nulla volutpat aliquam velit
                                </li>
                                <li>
                                    Faucibus porta lacus fringilla vel
                                </li>
                                <li>
                                    Aenean sit amet erat nunc
                                </li>
                                <li>
                                    Eget porttitor lorem
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="tabbable" id="tabs-533285">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="#panel-222620" data-toggle="tab">Section 1</a>
                                    </li>
                                    <li class="active">
                                        <a href="#panel-698552" data-toggle="tab">Section 2</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="panel-222620">
                                        <p>
                                            I'm in Section 1.
                                        </p>
                                    </div>
                                    <div class="tab-pane active" id="panel-698552">
                                        <p>
                                            Howdy, I'm in Section 2.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>