'<article class="searchResultItem">'+
'    <div class="searchResultItemTop">'+
'        <div class="searchResultItemTopImgDiv">'+
'            <img class="img-circle searchResultItemTopImg" src="png/t.jpg">'+
'        </div>'+
'        <div class="searchResultItemTopTextDiv">'+
'            <div class="searchResultItemTopTextDivChild">'+
'                <p class="nameLabel">'+
'                    Vivienne'+
'                </p>'+
'                <p class="classLabel">'+
'                    Interior Designer'+
'                </p>'+
'                <p class="degreeLabel">'+
'                    Law Bachelor’s Degree'+
'                </p>'+
'            </div>'+
'        </div>'+
'        <div class="searchResultItemTopPriceDiv">'+
'                            <span class="priceLabelClass"><span class="priceTag">100$</span> <span'+
'                                    class="delimiter">/</span> class</span>'+
'        </div>'+
'    </div>'+
'    <div class="searchResultItemBottom" style="">'+
'        <div class="starRatingDiv">'+
'                             <span class="starRating">'+
'                                 <img class="staricon" src="png/search/v.png">'+
'                                 <img class="staricon" src="png/search/v.png">'+
'                                 <img class="staricon" src="png/search/v.png">'+
'                                 <img class="staricon" src="png/search/v.png">'+
'                                 <img class="staricon" src="png/search/v.png">'+
'                             </span>'+
'            <span class="reviewsLabel">'+
'                                37 reviews'+
'                            </span>'+
'            <span class="viewsLabel">'+
'                                <img src="png/search/4.png">450'+
'                            </span>'+
'            <button class="btn readMoreBtn">'+
'                Read More'+
'            </button>'+
'        </div>'+
''+
'    </div>'+
'</article>'
